{% extends "layout.html" %}

{% block pageTitle %}
  Money Claims Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "english-as-first-language.html"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Submit Your Answers
      </h1>
      <p>
        By submitting your answers, you're agreeing that we can collect and process this information. We'll use it to help us meet our commitment to equality (under the Equality Act 2010).
      </p>

      <p>
        You can withdraw your consent or change your answers at any time, please read our <a href="https://www.moneyclaims.service.gov.uk/privacy-policy" target="_blank"> privacy policy</a> for more information.
      </p>

     {{ govukButton({
        text: "Accept and send",
        href: "/thank-you.html"
      }) }}

      <p>
        <a href="blank-page" class="govuk-link">Cancel and return to claim information</a>
      </p>
    </div>
</div>

{% endblock %}