
{% extends "layout.html" %}

{% block pageTitle %}
  Money Claims Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Protected Characteristics Questions in Civil Money Claims</h1>

        <h2 class="govuk-heading-l">Journeys</h2>
        <h3 class="govuk-heading-m">From the user details pages in CMC</h3>
        <p class="govuk-body">Once the claimant / defendant has entered their details on the system they are redirected to the protectected characteristics questions (PCQ). Only two of the questions are asked, sex and ethnicity and there is a simplified introduction page</p>

        <a href="/introduction-reduced.html" class="govuk-link govuk-body">PCQs from your details</a>
        <p></p>

        
        <h3 class="govuk-heading-m">From the confirmation page in CMC</h3>

        <p class="govuk-body">Once the claimant / defendant confirms their claim / response the remainder of the PCQs are asked followed by a confirmation page and a thank you page.</p>

        <a href="/introduction.html" class="govuk-link govuk-body">PCQs after confirmation</a>
        <p></p>

        <h2 class="govuk-heading-m">Individual Question Pages</h2>
        <p class="govuk-body">To view individual questions please select from the list below</p>
        
        <ul class="govuk-list govuk-list--bullet">

        <li><a href="/introduction-reduced.html">Introduction page for reduced lisst of PCQs</a></li>
        <li><a href="/introduction.html">Introduction page for remainder of PCQs</a></li>    
<!--   <li><a href="age.html">Age Question</a></li> -->
        <li><a href="/sex.html">Sex Question</a></li>
        <li><a href="/gender.html">Gender Question</a></li>
        <li><a href="/disability.html">Disability Question</a></li>
        <li><a href="/religion.html">Religion Question</a></li>
        <li><a href="/ethnicity.html">Ethnicity Question</a></li>
        <li><a href="/pregnancy">Pregnancy Question</a></li>
        <li><a href="/sexual-orientation.html">Sexual Orientation Question</a></li>
        <li><a href="/marriage-or-civil-partnership">Marriage or civil partnership</a></li>
        <li><a href="/education.html">Education page</a></li>        
        <li><a href="/english-as-first-language.html">English language page</a></li>
        <li><a href="/confirm.html">Confirm answers</a></li>
        <li><a href="/thank-you.html">Thank you page</a></li>

      </ul>
    </div>
</div>

{% endblock %}
