
{% extends "layout.html" %}

{% block pageTitle %}
  Money Claims Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
      {% if data['defendant'] == 'true' %} 
        <form action="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/defendant/task-list?confirm_details=complete&" method="post" novalidate>  
      {% else %}
        <form action="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/claimant/task-list?your_details=complete&" method="post" novalidate>
      {% endif %}  

      {% from "radios/macro.njk" import govukRadios %}
      {% from "input/macro.njk" import govukInput %}

      {% set asianOtherHtml %}
        {{ govukInput({
          id: "ethnicity-asian-other",
          name: "ethnicity-asian-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Your Asian background (optional)"
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "ethnic-group",
        name: "ethnic-group",
        fieldset: {
          legend: {
            text: "Which one best describes your Asian or Asian British background?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            text: "Bangladeshi"
          },
          {
            text: "Chinese"
          },
          {
            text: "Indian"
          },
          {
            text: "Pakistani"
          },
          {
            text: "Another Asian background",
            conditional: {
              html: asianOtherHtml
            }
          },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
        ]
        }) }}
  
            <br>
            
            {{ govukButton({
              text: "Continue"
            }) }}

            <br>
      {% if data['defendant'] == 'true' %} 
            <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/defendant/task-list?confirm_details=complete&" class="govuk-link">Cancel and return to response information</a>
        {% else %}
            <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/claimant/task-list?your_details=complete&" class="govuk-link">Cancel and return to claim information</a>
        {% endif %}

      </form>

    </div>
</div>

{% endblock %}