{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Submit Your Answers
      </h1>
      <p>
        By submitting your answers, you're agreeing that we can collect and process this information. We'll use it to help us meet our commitment to equality (under the Equality Act 2010).
      </p>

      <p>
        You can withdraw your consent or change your answers at any time, please read our <a href="gov.uk.privacy.html"> privacy policy</a> for more information.
      </p>

     {{ govukButton({
        text: "I agree - submit"
      }) }}
      <p>
      <a href="account.html">Cancel and go back to my account</a></p>
    </div>
</div>

{% endblock %}