{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "textarea/macro.njk" import govukTextarea %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "CMC-Q-disability-yes.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>

        {{ govukRadios ({
          idPrefix: "disability-options",
          name: "disability-options",
           fieldset: {
            legend: {
              text: "Do any of these conditions or illnesses affect you in any of the following areas?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
        items: [
            {
              value: "mobility",
              text: "Mobility"
            },
            {
              value: "stamina-breathing-fatigue",
              text: "Stamina/breathing/fatigue"
            },
            {
              value: "dexterity",
              text: "Dexterity"
            },
            {
              value: "mental-health",
              text: "Mental Health"
            },
            {
              value: "memory",
              text: "Memory"
            },
            {
              value: "hearing",
              text: "Hearing"
            },
            {
              value: "vision",
              text: "Vision"
            },
            {
              value: "Learning",
              text: "Learning"
            },
            {
              value: "social-behaviour",
              text: "Social/behaviour"
            },
            {
              value: "other",
              text: "Other"
            }
            ]
          }) }}

          {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            label: {
              text: "Please give details of your disability"
            },
            hint: {
              text: "Only complete this if you have answered Other above"
            
            }
          }) }}

        {{ govukButton({
          text: "Continue",
          href: "CMC-Q-religion-or-belief.html"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}