{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({

    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "english-level",
          name: "english-level",
          fieldset: {
            legend: {
              text: "How well can you speak English?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "very-well",
              text: "Very Well"
            },
            {
              value: "well",
              text: "Well"
            },
            {
              value: "not-well",
              text: "Not Well"
            },
            {
              value: "not-at-all",
              text: "Not at all"
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          href: "/confirm.html"
        }) }}
         <br>
        <a href="/blank.html" class="govuk-link">Cancel and return to claim information</a>

      </form>
    </div>
  </div>
{% endblock %}