{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "education.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/english-first-language" method="post" novalidate>

        {% set otherOtherHtml %}
        {{ govukInput({
          id: "english-language-other",
          name: "english-language-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Please enter your main language (including British Sign Language)"
          }
        }) }}
        {% endset -%}
        {{ govukRadios({
          idPrefix: "english-language",
          name: "english-language",
          fieldset: {
            legend: {
              text: "What is your main language?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "English or Welsh",
              text: "English or Welsh"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherOtherHtml
               }
            },
            {
              divider: "or"
            },
            {
              value: "Prefer not to say",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
         <br>
        <a href="/blank.html" class="govuk-link">Cancel and return to claim information</a>

      </form>
    </div>
  </div>
{% endblock %}