
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CMC Protected Characteristics</h1>

      <h2 class="govuk-heading-m">Question Pages</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="CMC-Q-PC-1-intro.html">Introduction page after payment</a></li>
        <li><a href="CMC-Q-PC-2-intro.html">Introduction page from task list</a></li>
        <li><a href="CMC-Q-age.html">Age Question</a></li>
        <li><a href="CMC-Q-sex.html">Sex Question</a></li>
        <li><a href="CMC-Q-gender.html">Gender Question</a></li>
        <li><a href="CMC-Q-disability.html">Disability Question</a></li>
        <li><a href="CMC-Q-religion-or-belief.html">Religion or Belief Question</a></li>
        <li><a href="CMC-Q-ethnicity.html">Ethnicity Question</a></li>
        <li><a href="CMC-Q-pregnancy">Pregnancy Question</a></li>
        <li><a href="CMC-Q-sexual-orientation.html">Sexual Orientation Question</a></li>
        <li><a href="CMC-Q-marriage-or-civil-partnership">Marriage or civil partnership</a></li>
        <li><a href="CMC-Q-PC-2-confirm.html">Confirm answers</a></li>
      </ul>
    </div>
</div>

{% endblock %}
