{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      {% if data['defendant'] == 'true' %} 
        <form action="/english-as-first-language?defendant=true&" method="post" novalidate>  
      {% else %}
        <form action="/english-as-first-language?defendant=false&" method="post" novalidate>
      {% endif %}

      <div class="govuk-panel govuk-panel--confirmation" style="background:#005ea5">
        <h1 class="govuk-panel__title">
          Equality questions
        </h1>
      </div>
      <br>
        <p>We’d like to ask you a few questions about yourself to help us check that we’re treating people equally and fairly.</p>
        <p>You do not have to answer them.</p>

        {% if data['defendant'] == 'true' %} 
          <p>Your answers are confidential, they are not part of your response and won’t affect your case.</p>
        {% else %}
          <p>Your answers are confidential, they are not part of your claim and won’t affect your case.</p>
        {% endif %}
        <br>
        {{ govukButton({
            text: "Continue"
            }) }}
            <br>

        {% if data['defendant'] == 'true' %} 
            <a href="blank" class="govuk-link">Cancel and return to response information</a>
        {% else %}
            <a href="blank" class="govuk-link">Cancel and return to claim information</a>
        {% endif %}
      </form>

    </div>
</div>

{% endblock %}