{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/claimant/task-list/your-details/phone"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['defendant'] == 'true' %} 
         <form action="/defendant-reduced-qs-yes-or-no" method="post" novalidate>
      {% else %}
         <form action="/claimant-reduced-qs-yes-or-no" method="post" novalidate>
      {% endif %}
      <p>
        This will not affect your claim
      </p>
        {{ govukRadios({
          idPrefix: "pc-questions",
          name: "pc-questions",
          fieldset: {
            legend: {
              text: "Can we ask you a few questions about yourself? (Optional)",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
         }) }}

         {{ govukDetails({
        summaryText: "How this information will be used",
        html: "
          <p>Like all public bodies we need to show that we treat everyone fairly. Please help us to do this and meet our commitment to equality (under the Equalities Act 2010) by answering a few questions about yourself.</p>"

      }) }}


     {{ govukButton({
        text: "Continue"
      }) }}

      <br>
      {% if data['defendant'] == 'true' %} 
        <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/dashboard/new-dashboard/defendant/all-claims" class="govuk-link">Cancel and return to claim information</a>
      {% else %}
      <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/dashboard/new-dashboard/claimant/all-claims" class="govuk-link">Cancel and return to claim information</a>
      {% endif %}

      </form>
    </div>
</div>

{% endblock %}