{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if data['defendant'] == 'true' %} 
        <form action="/gender?defendant=true&" method="post" novalidate>  
      {% else %}
        <form action="/gender?defendant=false&" method="post" novalidate>
      {% endif %}

       <h1 class="govuk-heading-l">Additional questions</h1>
        
      <p>We are committed to making our services accessible and ensuring that everyone who uses them is treated equally.</p>

      <p>We’d like to ask you a few questions about yourself. This information will help us assess our policies and take steps to avoid adverse impacts on particular groups of people.<p>

        {% if data['defendant'] == 'true' %} 
          <p style="strong">Your answers are confidential, they are not part of your response and won’t affect your case.</p>
        {% else %}
          <p style="strong">Your answers are confidential, they are not part of your claim and won’t affect your case.</p>
        {% endif %}
        <br>
        {{ govukButton({
            text: "Continue"
            }) }}
            <br>

        {% if data['defendant'] == 'true' %} 
            <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/defendant/task-list?confirm_details=complete&" class="govuk-link">Cancel and return to response information</a>
        {% else %}
            <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/claimant/task-list?your_details=complete&" class="govuk-link">Cancel and return to claim information</a>
        {% endif %}
      </form>
    </div>
</div>

{% endblock %}