{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     {% if data['defendant'] == 'true' %} 
        <form action="/income?defendant=true" method="post" novalidate>  
      {% else %}
        <form action="/income?defendant=false" method="post" novalidate>
      {% endif %}


        {{ govukRadios({
          idPrefix: "marriage-or-civil-partnership",
          name: "marriage-or-civil-partnership",
          fieldset: {
            legend: {
              text: "Are you married or in a legally registered civil partnership?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
         <br>

           <br>
         {% if data['defendant'] == 'true' %} 
            <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/defendant/task-list?confirm_details=complete&" class="govuk-link">Cancel and return to response information</a>
        {% else %}
            <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/claimant/task-list?your_details=complete&" class="govuk-link">Cancel and return to claim information</a>
        {% endif %}

   

      </form>
    </div>
  </div>
{% endblock %}