{% extends "layout.html" %}

{% block pageTitle %}
  Money Claims Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/age.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>

      {% set otherOtherHtml %}
        {{ govukInput({
          id: "sex-other",
          name: "sex-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Please enter your sex"
          }
        }) }}
      {% endset -%}

        {{ govukRadios({
          idPrefix: "what-is-your-sex",
          name: "what-is-your-sex",
          fieldset: {
            legend: {
              text: "What is your sex?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "male",
              text: "Male"
            },
            {
              value: "female",
              text: "Female"
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue",
          href: "gender.html"

        }) }}
         <br>
        <a href="/index.html" class="govuk-link">Cancel and return to claim information</a>

      </form>
    </div>
  </div>
{% endblock %}