{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['defendant'] == 'true' %} 
        <form action="/gender?defendant=true" method="post" novalidate>  
      {% else %}
        <form action="/gender?defendant=false" method="post" novalidate>
      {% endif %}

        {% set otherOtherHtml %}
        {{ govukInput({
          id: "sexual-orientation-other",
          name: "sexual-orientation-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Please enter how you think of yourself"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "what-is-your-sexual-orientation",
          name: "what-is-your-sexual-orientation",
          fieldset: {
            legend: {
              text: "Which of the following best describes how you think of yourself?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "heterosexual-straight",
              text: "Heterosexual or straight"
            },
            {
              value: "gay-lesbian",
              text: "Gay or Lesbian"
            },
            {
              value: "bisexual",
              text: "Bisexual"
            },
            {
              value: "other",
              text: "Other",
                conditional: {
                html: otherOtherHtml
               }
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

            <br>
            
            {{ govukButton({
              text: "Continue"
            }) }}

            <br>
         {% if data['defendant'] == 'true' %} 
            <a href="blank" class="govuk-link">Cancel and return to response information</a>
        {% else %}
            <a href="blank" class="govuk-link">Cancel and return to claim information</a>
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}