{% extends "layout.html" %}

{% block pageTitle %}
  Money Claims Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirm.html"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ govukPanel({
        titleText: "Thank you"
      }) }}

      <p>
        You can find a copy of your answers in your claim account
      </p>
      <h3 class="govuk-heading-m">
        What happens next
      </h3>
      <p>
        If anything you've told us might mean that you need additional support or a <a href="reasonable-adjustments.html" class="govuk-link">reasonable adjustments.</a>
      </p>
      <p>
        <a href="reasonable-adjustments.html" class="govuk-link">Tell us what you think of this service</a> (takes 30 seconds)
      </p>

     {{ govukButton({
        text: "Go to your account",
        href: "/index.html"
      }) }}
      <p>
     
    </div>
</div>

{% endblock %}