{% extends "layout.html" %}

{% block pageTitle %}
  Money Claims Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}
{% from "details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation" style="background:#005ea5">
        <h1 class="govuk-panel__title">
          Answers submitted
        </h1>
      </div>
  
      <br>
      <p class="govuk-heading-m">Thank you</p>
      
      {% if data['defendant'] == 'true' %} 
       
        <p>If you need help with any part of your response or you need <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/equality-and-diversity" class="govuk-link" target="_blank">information in a different format</a> contact us.</p>
      {% else %}
        <p>If you need help with any part of your claim or you need <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/equality-and-diversity" class="govuk-link" target="_blank">information in a different format</a> contact us.</p>
      {% endif %}

      <br>

        {% if data['defendant'] == 'true' %} 
          {{ govukButton({
            text: "Go to your account",
            href: "https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/dashboard/defendant?defendant=31"
           }) }}
         
        {% else %}
           {{ govukButton({
            text: "Go to your account",
            href: "https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/dashboard/claimant?claimant=1"
           }) }}
         
        {% endif %}

      <br>

      {{ govukDetails({
        summaryText: "Contact us for help",
        html: "<h2 class=govuk-heading-m\" style=\"margin-bottom:0\">Email</h2>
          <p>
            <a href=\"/prototypes/prototype-may-2019/misc/message\" target=\"_blank\">Send us a message</a> (opens in a new window)<br>
            We'll get back to you within 10 days
          </p>

          <h2 class=\"govuk-heading-m\" style=\"margin-bottom:0; margin-top: 10px;\">Telephone</h2>
          <p>0300 123 7050<br>
            Monday to Friday, 9.00am to 5.00pm
          </p>"

      }) }}

      
     
    </div>
</div>

{% endblock %}