{% extends "layout.html" %}

{% block pageTitle %}
  Money Claims Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirm.html"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ govukPanel({
        titleText: "Thank you"
      }) }}

      <p>
        You can find a copy of your answers in your <a href="https://cmc-prototype-pc.herokapp.com/prototypes/prototype-may-2019/dashboard/new-dashboard/claimant/all-claims.html">claim account</a>
      </p>
      <h3 class="govuk-heading-m">
        What happens next
      </h3>
      <p>
        If anything you've told us might mean that you need additional support or a <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/equality-and-diversity" class="govuk-link">reasonable adjustment</a> please contact us to find out how we can help.
      </p>
      <br>

     {{ govukButton({
        text: "Go to your account",
        href: "https://cmc-prototype-pc.herokapp.com/prototypes/prototype-may-2019/dashboard/new-dashboard/claimant/all-claims.html"
      }) }}
      <p>

      {% include "includes/contact.html" %}
     
    </div>
</div>

{% endblock %}