{% extends "layout.html" %}

{% block pageTitle %}
  Money Claims Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/disability/disability-yes.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['defendant'] == 'true' %} 
       <form action="/pregnancy?defendant=true&" method="post" novalidate>
      {% else %}
        <form action="/pregnancy?defendant=false&" method="post" novalidate>
      {% endif %}

        
        {% set otherOtherHtml %}

        {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            label: {
              text: "Please give details of your disability"
            }
          }) }}

        {% endset -%}


        {{ govukCheckboxes({
          idPrefix: "disability-options",
          name: "disability-options",
          fieldset: {
            legend: {
              text: "Do any of these conditions or illnesses affect you in any of the following areas?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
              }

             },
          hint: {
            text: "Select all that apply"
          },
          items: [
           {
              value: "vision",
              text: "Vision",
              hint: {
                text: "For example blindness or partial sight"
             }  
            },
            {
              value: "hearing",
              text: "Hearing",
              hint: {
                text: "For example deafness of partial hearing"
              }
            },
            {
              value: "mobility",
              text: "Mobility",
              hint: {
                text: "For example walking short distances or climbing stairs"
              }
            },
            {
              value: "dexterity",
              text: "Dexterity",
              hint: {
                text:"For example lifting and carrying objects, using a keyboard"
              }
            },
            {
              value: "Learning",
              text: "Learning, understanding or concentrating"
            },  
            {
              value: "memory",
              text: "Memory"
            },
            {
              value: "mental-health",
              text: "Mental Health"
            },
            {
              value: "stamina-breathing-fatigue",
              text: "Stamina, breathing or fatigue"
            },
            {
              value: "social-behaviour",
              text: "Socially or behaviourally",
              hint: {
                text: "For example associated with autism, attention deficit disorder or Asperger's sysndrome"
              }
            },
            {
              value: "other",
              text: "Other",
                conditional: {
                html: otherOtherHtml
               }
            },
            {
              value: "none-of-the-above",
              text: "None of the above"
            }
            ]
          }) }}
        

        {{ govukButton({
          text: "Continue",
          href: "../religion.html"
        }) }}

        <br>
         {% if data['defendant'] == 'true' %} 
            <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/defendant/task-list?confirm_details=complete&" class="govuk-link">Cancel and return to response information</a>
        {% else %}
            <a href="https://cmc-prototype-pc.herokuapp.com/prototypes/prototype-may-2019/claimant/task-list?your_details=complete&" class="govuk-link">Cancel and return to claim information</a>
        {% endif %}
  


      </form>
    </div>
  </div>
{% endblock %}